SECRET: 10b67c111241095ec0291a763e6957d8194e01193a2bd786d4b226787125bc3f

CREATE TABLE contact (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	first_name VARCHAR(100) NOT NULL, 
	last_name VARCHAR(100), 
	company VARCHAR(100), 
	designation VARCHAR(100), 
	email VARCHAR(120), 
	phone_number VARCHAR(20) NOT NULL, 
	secondary_phone VARCHAR(20), 
	whatsapp_number VARCHAR(20), 
	website VARCHAR(255), 
	address VARCHAR(255), 
	city VARCHAR(100), 
	state VARCHAR(100), 
	country VARCHAR(100), 
	pincode VARCHAR(20), 
	birthday DATE, 
	source ENUM('Website','Google','Social Media','Referral','Walk-in','Other') DEFAULT 'Other', 
	status ENUM('Contact','Follow Up','Not Interested','Do Not Call','Lead','Customer') DEFAULT 'Contact', 
	tags VARCHAR(255), 
	notes TEXT, 
	lead_id INTEGER, 
	organization_id INTEGER NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	is_deleted BOOL, 
	assigned_to INTEGER, 
	created_by INTEGER NOT NULL, 
	updated_by INTEGER, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_contact_phone_org UNIQUE (phone_number, organization_id), 
	FOREIGN KEY(lead_id) REFERENCES `lead` (id), 
	FOREIGN KEY(organization_id) REFERENCES organization (id), 
	FOREIGN KEY(assigned_to) REFERENCES employee (id), 
	FOREIGN KEY(created_by) REFERENCES employee (id), 
	FOREIGN KEY(updated_by) REFERENCES employee (id)
)



CREATE TABLE contact_activity (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	contact_id INTEGER NOT NULL, 
	activity_type ENUM('Call','Meeting','Email','Note','Task') NOT NULL, 
	description TEXT, 
	created_at DATETIME, 
	created_by INTEGER NOT NULL, 
	organization_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(contact_id) REFERENCES contact (id), 
	FOREIGN KEY(created_by) REFERENCES employee (id), 
	FOREIGN KEY(organization_id) REFERENCES organization (id)
)



CREATE TABLE contact_note (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	contact_id INTEGER NOT NULL, 
	note TEXT NOT NULL, 
	created_at DATETIME, 
	created_by INTEGER NOT NULL, 
	organization_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(contact_id) REFERENCES contact (id), 
	FOREIGN KEY(created_by) REFERENCES employee (id), 
	FOREIGN KEY(organization_id) REFERENCES organization (id)
)



CREATE TABLE contact_system_log (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	contact_id INTEGER NOT NULL, 
	event_type VARCHAR(80) NOT NULL, 
	message TEXT NOT NULL, 
	icon VARCHAR(10), 
	created_at DATETIME, 
	actor_id INTEGER, 
	organization_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(contact_id) REFERENCES contact (id), 
	FOREIGN KEY(actor_id) REFERENCES employee (id), 
	FOREIGN KEY(organization_id) REFERENCES organization (id)
)



CREATE TABLE contact_document (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	contact_id INTEGER NOT NULL, 
	filename VARCHAR(255) NOT NULL, 
	original_name VARCHAR(255) NOT NULL, 
	file_type VARCHAR(50), 
	uploaded_at DATETIME, 
	organization_id INTEGER, 
	PRIMARY KEY (id), 
	FOREIGN KEY(contact_id) REFERENCES contact (id), 
	FOREIGN KEY(organization_id) REFERENCES organization (id)
)


